{{template "header" .}}
<h1>FAQ Page</h1>
	<ul>
		{{/* takes the entire question struct */}}
		{{range .}} 
			{{/* renders the qa template, passes each item in the struct to it */}}
			{{template "qa" .}}
		{{end}}
	</ul>
{{template "footer" .}}
	
	{{/* defines the qa template */}}
	{{define "qa"}}
		<li><b>{{.Question}}</b>{{.Answer}}</li>
	{{end}}
